%h1 プロフィールの編集

.nav.justify-content-end
  = link_to '一覧', employees_path, class: 'nav-link'

- if employee.errors.present?
  %ul#error_explanation
    - employee.errors.full_messages.each do |msg|
      %li= msg

= form_with model: employee, local: true do |f|
  .form_group
    = f.label :team
    = f.text_field :team, class: 'form-control', id: 'team'
  .form_group
    = f.label :hobby
    = f.text_field :hobby, class: 'form-control', id: 'hobby'
  .form_group
    = f.label :comment
    = f.text_area :comment, row:5, class: 'form-control', id: 'comment'

  %hr.hr-primary

  ="職歴"
  %table.table.table-hover.table-striped
    %tbody
      %tr
        %th= "年数"
        %th= "企業"
        %th= "組織"
        %th= "ミッション"
        %th
      = f.nested_fields_for :work_histories, wrapper_tag: :tr do |h|
        %td= h.number_field :year, class: 'form-control'
        %td= h.text_field :company, class: 'form-control'
        %td= h.text_field :team, class: 'form-control'
        %td= h.text_field :mission, class: 'form-control'
        %td= h.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button'
  = f.add_nested_fields_link :work_histories, '追加', class: 'btn btn-primary', role: 'button'

  %hr.hr-primary

  = f.submit nil, class: 'btn btn-primary'
