%h1 社員一覧
- if login_emp.admin?
  = link_to '新規登録', new_employee_path, class: 'btn btn-primary'

.mb-3
%table.table.table-hover.table-striped
  %thead.thead-default
    %tr
      %th= '名前'
      %th= Employee.human_attribute_name(:team)
      %th
  %tbody
    - @employees.each do |e|
      %tr
        %td= link_to fullname(e), e
        %td= e.team
        - if login_emp.id == e.id
          %td= link_to 'プロフィールを編集する', edit_employee_path(e, edit_profile: true), class: 'btn btn-primary mr-3'
        - elsif login_emp.admin?
          %td= link_to '削除', e, method: :delete, data: {confirm: "#{fullname(e)} さんを削除しますか？"}, class: 'btn btn-danger mr-3'
